*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image{
    height: 500px;
    width: 600px;
}

.parent-box{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    justify-content: space-around;
    background-color: rgb(235, 233, 233);
}

.submit-btn{
    height: 40px;
    width: 170px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

@media screen and (max-width:576px) {
    .parent-box{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-left: 3%;
        /* height: 100vh; */
    }

    .image{
        height: 300px;
        width: 340px;
       
    }
    
}

/* @media screen and(min-width:577px) and(max-width:768px) {
    .parent-box{
        flex-direction: column;
        height: 100%;
    }
    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .parent-box{
        flex-direction: column;
        height: 100vh;
        
    }
   
}

@media  screen and (min-width:1025px) and(max-width:1440px) {

    .parent-box{
        flex-direction: column;
        height: 100vh;
        
    }
} */